<!DOCTYPE html>

<html lang="en">

<head>
<style>
    .h {text-align: right;}
    .container-shake {display: flex; justify-content: flex-end; align-items: center;}
    .shake-info {text-align: left; margin-left: 20px;}
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Restaurant Menu">
    <meta name="author" content="someone">

    <title>Restaurant Menu</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <section class="bg-menu bg-section" id="menu">
        <div class="container-fluid">
            <h1 class="container-h1" style="text-align:center">Menu</h1>
            <div class="row">

                <!-- Nav pills -->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#lunch">Lunch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#Shakes">Shakes</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="static/images/imag1.jpg" alt="shakes" height="500" width="500">
            </div>
            <div class="col-md-6">
                <div class="shake-info">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">Noodles<span class="badge pull-right"></span></h4>
                            <p class="list-group-item-text"></p>
                            <h2>Chicken Biriyani</h2>
                            <p><strong>Price:</strong> ₹150</p>
                             <h2>Beef Biriyani</h2>
                            <p><strong>Price:</strong> ₹160</p>
                             <h2>Egg Biriyani</h2>
                            <p><strong>Price:</strong> ₹120s</p>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
